body {
    font-family: 'Roboto', sans-serif; 
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title_outside_wrapper {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 336px;
    justify-content: space-between;
    box-shadow: 0 1px 36px rgba(0,0,0,0.3), 0 1px 36px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.title_inside_wrapper {
}

h2 {
    font-size: 24px;
    width: 47px;
    margin-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: #222222;
}

p {
    font-size: 18px;
    padding-top: 5px;
    color: #666666;
}
/*
h2::before {
    content: "";
    background-color: firebrick;
    position: absolute;
    height: 72px;
    width: 72px;
    border-radius: 50px;
}
*/
.circle_wrapper {
    display: block;
    background-color: firebrick;
    height: 72px;
    width: 72px;
    border-radius: 50px;
    margin: 24px;
}

.title_text_wrapper {
    align-content: flex-start;
}
.pencil_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height:100px;
    position:relative;
    padding: 24px;
    width: 32px;
    
}

.pencil_wrapper {

}

.fas .fa-pencil-alt {
    position:absolute;
    top:45%;
    left:45%;
    color: white;
}

i {
    color: #666666;
}


.card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 24px;
    align-content: center;
    justify-content: center;
    box-shadow: 0 1px 36px rgba(0,0,0,0.3), 0 1px 36px rgba(0,0,0,0.3);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 560px;
    height: 264px;
    border-radius: 5px;
    margin-bottom: 264px;
}

.image_wraper {
    display: inline-flex;
    justify-content: center;
    
}

.hide_me_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 504px;
    height: 160px;
    background-color:#f1f1f1;
    margin-top: 24px;
}

#hide_me {
    display: flex;
}

.buttons_wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    height: 80px;
    width: 512px;
}

.buttons_div {
    display: flex;
    justify-items: right;
    align-items: center;
}

.btn_save {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #C90000;
    width: 66px;
    height: 32px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 6px;
    transition: all 0.4s ease 0s;
  }

  .btn_cancel {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color:#f1f1f1;
    width: 85px;
    height: 32px;
    color: #222222;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.4s ease 0s;
  }

.btn_save:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.8);
  }

  .btn_cancel:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  }

  input[type="button"]{
    outline:none;
 }
 input[type="button"]::-moz-focus-inner {
    border: 0;
 }
